export SOURCES="
  git@github.com:pr0d1r2/plexus.git:bash_profile.d
  git@github.com:pr0d1r2/osx_crond.git:shell_aliases.d
  git@github.com:pr0d1r2/ruby_dev_shell_aliases.git:.
  git@github.com:pr0d1r2/git_shell_aliases.git:.
  git@github.com:pr0d1r2/github_shell_aliases.git:.
  git@github.com:pr0d1r2/osx_shell_aliases.git:.
  git@github.com:pr0d1r2/common_shell_aliases.git:.
  git@github.com:pr0d1r2/media_shell_aliases.git:.
  git@github.com:pr0d1r2/gentoo_package_masking.git:shell_aliases.d
  git@gitlab.com:doubledrones/dt_shell_aliases.git:.
  git@gitlab.com:pr0d1r2/tt_shell_aliases.git:.
  git@gitlab.com:doubledrones/doubledrones_shell_aliases.git:.
  $HOME/projects/local_shell_aliases
  $HOME/projects/shell_aliases_compiler/shell_aliases.d
"
